<span class="board-name">
  <%= link_to @board.name, edit_board_path(@board), remote: true, class: "board-name" %>
  <%= link_to "Delete", board_path(@board), method: :delete, class: "board-delete-link" %>
  <!--TODO add a link to edit board name  -->
</span>
<!-- Using 'showw' instead of 'show', 'show' is reserved -->
<div class="show-boards">
  <% @lists.each do |list| %>
    <div class="list">
      <div class="list-name ">
        <%= link_to list.name, edit_list_path(list), remote: true, class: "list-link list-#{list.id}"  %>
        <%= link_to "Delete", list_path(list), method: :delete, class: "list-delete-link"%>
      </div>
      <div class="cards">
        <% list.cards.each do |card| %>
          <div class="card">
            <%= link_to card.name, card_path(card), class: "card-link", remote: true %>
            <%= link_to "Delete", card_path(card), method: :delete, class: "card-delete-link" %>
          </div>
        <% end %>
        <div class="new-link-card">
          <%= link_to('Add Card', new_list_card_path(list, @card), remote: true, class: "new-link-card-#{list.id}") %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="new-link">
    <%= link_to('Add List', new_board_list_path(@board, @list), remote: true, class: "new-link") %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <h4 class="modal-title" ></h4> -->
          <p id="myModalLabel" class="card-name"></p>
          <span id="card-description" class="card-description"></span>
        </div>

        <div class="modal-body">
          <div class="modal-main-col">
            <p>Main column</p>
            <div class="modal-checklist">
              modal-checklist
            </div>
            <div class="modal-comment">
              modal-comment
            </div>
          </div>
          <div class="modal-side-bar">
            modal-side-bar
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Modal End-->
</div>
