$('#card-name').html('<%= j @card.name %>');

$('#card-description').html('<%= j @card.description %><br />');

$('#card-description-edit').html('<%= j link_to "Edit", edit_card_path(@card), remote: true %>');

$('#modal-checklist .modal-checklist-list').html('<% @checklists.each do |ch| %><% id = ch.id %> <div class="funkyradio"><div class="funkyradio-primary"><input type="checkbox" name="checkbox" id="checkbox<%= id %>" <% if (ch.is_checked) %>checked<% end %>/><label for="checkbox<%= id %>" data-cid="<%= id %>"> <%= ch.content %> </label></div><% end %>');

$('#modal-checklist .modal-checklist-new').html('<%= link_to "Add Checklist", new_card_checklist_path(@card, @checklist), remote: true, class: "add-link-checklist" %>');

$('#modal-comment .modal-comment-new').html('<%= j render("add_comment") %>');

$('#modal-comment .modal-comment-list').html('<% @card.comments.each do |comment| %><div class="indent-content"><span class="content"><%= comment.content%></span><br/><span class="date"><%= comment.created_at %></span></div><% end %>');

$('.modal-side-bar-add').html('<%= link_to "Label", "#", class: "btn btn-primary side-bar-btn"%><%= link_to "Due Date", "#", class: "btn btn-primary side-bar-btn"%><%= link_to "Attachment", "#", class: "btn btn-primary side-bar-btn"%>');

$('#myModal').modal('show');

$('#modal-checklist').on('click', event => {
  const {target} = event;

  if(target.nodeName == "LABEL") {
    const cid = parseInt($(target).data('cid'));
      $.ajax({
        type: "POST",
        url: `/checklists/${cid}/toggle`,
      });
    }
  })
